<div class="footer-container">

  <div>
    <ul style="margin: 0; padding: 20px; list-style-type: none;
    color: #aaa; display: flex; column-gap: 20px">
      <a style="cursor: pointer"><li>{{'our_teachers' | translate}}</li></a>
      <a style="cursor: pointer"> <li>{{'rules_and_regulations' | translate}}</li></a>
      <a style="cursor: pointer"><li>{{'contact_us' | translate}}</li></a>
      <a style="cursor: pointer"><li>{{'courses_type' | translate}}</li></a>
    </ul>
  </div>

  <hr>

  <div>
    <ul style="margin: 0; padding: 20px; list-style-type: none;
    color: #aaa; display: flex; column-gap: 20px">
      <a style="cursor: pointer"><li>{{'mobile' | translate}} {{'mobile_value' | translate}}</li></a>
      <a style="cursor: pointer"> <li>{{'email' | translate}} {{'email_value' | translate}}</li></a>
    </ul>
  </div>


</div>
