<div>

  <div style="display: flex; column-gap: 50px; margin-top: 60px">

    <div>
      <div style="text-align: justify-all; font-size: 42px; font-weight: normal;
      text-shadow: 1px 0 currentColor, -1px 0 currentColor, 0 1px currentColor, 0 -1px currentColor;">
        {{'Learning_Programming_Made_Simple_and_Fun' | translate}}
      </div>
      <div style="font-size: 20px; line-height: 50px">
        <i class="pi pi-check-circle" style="color: #1976d2; font-size: 20px"></i>
        {{'zero_to_100' | translate}}
      </div>
      <div style="font-size: 20px; line-height: 50px">
        <i class="pi pi-check-circle" style="color: #1976d2; font-size: 20px"></i>
        {{'future_skills_here' | translate}}
      </div>
      <div style="font-size: 20px; line-height: 50px">
        <i class="pi pi-check-circle" style="color: #1976d2; font-size: 20px"></i>
        {{'unlimited_access_to_videos' | translate}}
      </div>
    </div>

    <div>
      <img style="width: 500px" src="assets/images/happy-man.png">
    </div>

  </div>
</div>
