/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: 'iransans'; /* نامی که در CSS استفاده می‌کنید */
  src: url('assets/fonts/IRANSans/IRANSansWeb_Light.woff') format('woff');
}

body {
  margin: 0;
  background-color: #f3f4f6;
  margin: 0;
  font-family: 'iransans';
}

/* کانتینر کلی سایت */
.app-container {
  max-width: 1440px;
  margin: 0 auto; /* مرکزچین شدن */
  background: #fff;
  min-height: 100vh;
  box-shadow: 0 0 20px rgba(0,0,0,0.05);
}

